
body {
  background-color: #DCDCDC;
  font-family: Arial, sans-serif;
  color: #FFFFFF;
}

.container {
  background-color: #696969;
  padding: 20px;
  margin: 50px auto;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
}

h1 {
  font-size: 5vh;
}

input, select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #696969;
  border-radius: 4px;
}

.button {
  background-color: #808080;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 2vh;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #A9A9A9;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #A9A9A9;
  color: white;
}
