body {
  background-color: #DCDCDC;
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  border: 2px solid #696969;
  padding: 20px;
  background-color: #FFFFFF;
  color: #000000;
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 5vh;
  background-color: #808080;
  padding: 10px;
  color: #FFFFFF;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #696969;
  font-size: 1em;
}

.button {
  background-color: #3f3f3f;
  color: #FFFFFF;
  padding: 10px;
  margin: 10px 0;
  border: none;
  width: 100%;
  font-size: 2vh;
  cursor: pointer;
}

.button:hover {
  background-color: #A9A9A9;
}

.info-endereco {
  margin-top: 10px;
  font-size: 1em;
  text-align: left;
}
